:root {
  --primary-color: #4f46e5;
  --primary-hover: #3e38b8;
}
.btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  color: #fff;
  transition: 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--primary-hover) !important;
  border-color: var(--primary-hover) !important;
}


.avatar {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.tuser{
margin-bottom: 0;
}

.userContainer{
  position: relative;
  display: flex;
  align-items: center;

}


.userProfile{
  position: absolute;
  top: 4.4375rem;
  left: 13%;
  
  background-color: #212529;
  border-radius: 0.625rem;
  overflow: hidden;
  width: 9.375rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  z-index: 10;



  opacity: 0;
  transform: translateY(-10px);
  animation: dropFade 0.25s ease-out forwards;

}


@keyframes dropFade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0w);
  }
}


.menuItem{
  background: none;
  border: none;
  padding: 0.625rem;
  text-align: left;
  width: 100%;
  font-size: 0.9375rem;
  cursor: pointer;
  transition: background 0.2s;
}

.menuItem:hover{
  background-color: #343a40;
  transform: translateY(-1px);}

/* .divider{
  height: 1px;
  background-color: #757575;
  margin: 0;
} */


.logout{
  color: red;
}

